modules = ["cpp"]

[nix]
channel = "stable-24_05"
packages = ["bazel"]

[workflows]
runButton = "Run all"

[[workflows.workflow]]
name = "Build and Test C++ Utils"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bazel build //... && bazel test //..."

[[workflows.workflow]]
name = "Build"
mode = "sequential"
author = 41808304

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bazel build //..."

[[workflows.workflow]]
name = "Test"
mode = "sequential"
author = 41808304

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bazel test //..."

[[workflows.workflow]]
name = "Run example"
mode = "sequential"
author = 41808304

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./bazel-bin/examples/main"

[[workflows.workflow]]
name = "Run all"
mode = "sequential"
author = 41808304

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Test"

[deployment]
run = [
  "sh",
  "-c",
  "bazel build //examples:example_main && ./bazel-bin/examples/example_main",
]
